<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ticket.email %>
</p>

<p>
  <strong>Department:</strong>
  <%= @ticket.department %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @ticket.subject %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<% if user_signed_in? %>
  <p>
    <strong>Resolution:</strong>
    <%= @ticket.resolution %>
  </p>
<% end %>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
